<div class="page-header">
  <h1>Добавить контактное лицо для {{customer.name}}</h1>
</div>

<div class="row">
  <div class="col-md-4">
    <form class="customer-form">
      <div class="form-group">
        <label for="first-name">Имя:</label>
        <input type="text" autocomplete="off" class="form-control"
          id="first-name" ng-model="newContactFirstName" placeholder="Имя">
      </div>

      <div class="form-group">
        <label for="middle-name">Отчество:</label>
        <input type="text" autocomplete="off" class="form-control"
          id="middle-name" ng-model="newContactMiddleName" placeholder="Отчество">
      </div>

      <div class="form-group">
        <label for="last-name">Фамилия:</label>
        <input type="text" autocomplete="off" class="form-control"
          id="last-name" ng-model="newContactLastName" placeholder="Фамилия">
      </div>

      <div class="form-group">
        <label for="customer-select">Компания:</label>
        <select disabled="true" class="form-control" id="customer-select" ng-model="customer"
          ng-options="customer.name for customer in customers | orderBy:'name' track by customer.id" required="true">
          <option value="">--- Выберите компанию ---</option>
        </select>
      </div>

      <div class="form-group">
        <label for="position">Должность:</label>
        <input type="text" autocomplete="off" class="form-control"
          id="position" ng-model="newContactPosition" placeholder="Должность">
      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" autocomplete="off" class="form-control"
          id="email" ng-model="newContactEmail" placeholder="Email">
      </div>

      <div class="form-group">
        <label for="phone">Телефон:</label>
        <input type="text" autocomplete="off" class="form-control"
          id="phone" ng-model="newContactPhone" placeholder="Телефон">
      </div>

      <div class="form-group">
        <label for="phone2">Телефон 2:</label>
        <input type="text" autocomplete="off" class="form-control"
          id="phone2" ng-model="newContactPhone2" placeholder="Телефон 2">
      </div>

      <div class="form-group">
        <label for="im">IM:</label>
        <input type="text" autocomplete="off" class="form-control"
          id="im" ng-model="newContactIm" placeholder="IM">
      </div>

      <div class="form-group">
        <label for="comment">Коментарий:</label>
        <textarea class="form-control" ng-model="newContactComment"
          rows="5" id="comment" placeholder="Коментарий"></textarea>
      </div>

      <input ng-click="addContact()" type="submit"
        class="btn btn-success" value="Добавить">
      <a href='/#contact_people'> К списку контактов </a>
    </form>
  </div>
</div>
