<div class="page-header">
  <h1 translate>edit_contact</h1>
</div>

<div class="row">
  <div class="col-md-4">
    <form class="contact-form">
      <div class="form-group">
        <label for="first-name">{{'first_name' | translate}}:</label>
        <input type="text" autocomplete="off" class="form-control"
          id="first-name" ng-model="contact_person.first_name" placeholder="{{'first_name' | translate}}">
      </div>

      <div class="form-group">
        <label for="middle-name">{{'middle_name' | translate}}:</label>
        <input type="text" autocomplete="off" class="form-control"
          id="middle-name" ng-model="contact_person.middle_name" placeholder="{{'middle_name' | translate}}">
      </div>

      <div class="form-group">
        <label for="last-name">{{'last_name' | translate}}:</label>
        <input type="text" autocomplete="off" class="form-control"
          id="last-name" ng-model="contact_person.last_name" placeholder="{{'last_name' | translate}}">
      </div>

      <div class="form-group">
        <label for="customer-select">{{'customer' | translate}}:</label>
        <select class="form-control" id="customer-select" ng-model="contact_person.customer"
          ng-options="customer.name for customer in customers | orderBy:'name' track by customer.id" required="true">
          <option value="">--- {{'select_customer' | translate}} ---</option>
        </select>
      </div>

      <div class="form-group">
        <label for="position">{{'position' | translate}}:</label>
        <input type="text" autocomplete="off" class="form-control"
          id="position" ng-model="contact_person.position" placeholder="{{'position' | translate}}">
      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" autocomplete="off" class="form-control"
          id="email" ng-model="contact_person.email" placeholder="Email">
      </div>

      <div class="form-group">
        <label for="phone">{{'phone' | translate}}:</label>
        <input type="text" autocomplete="off" class="form-control"
          id="phone" ng-model="contact_person.phone" placeholder="{{'phone' | translate}}">
      </div>

      <div class="form-group">
        <label for="phone2">{{'phone' | translate}} 2:</label>
        <input type="text" autocomplete="off" class="form-control"
          id="phone2" ng-model="contact_person.phone2" placeholder="{{'phone' | translate}} 2">
      </div>

      <div class="form-group">
        <label for="im">IM:</label>
        <input type="text" autocomplete="off" class="form-control"
          id="im" ng-model="contact_person.im" placeholder="IM">
      </div>

      <div class="form-group">
        <label for="comment">{{'comment' | translate}}:</label>
        <textarea class="form-control" ng-model="contact_person.comment"
          rows="5" id="comment" placeholder="{{'comment' | translate}}"></textarea>
      </div>
      <input ng-click="updateContact()" type="submit" class="btn btn-success" value="{{'save' | translate}}">
    </form>
  </div>
</div>

<div class="actions" ng-model="contact_person">
  <a href='/#contact_people/{{contact_person.id}}/show'><span class="glyphicon glyphicon-file"></span> {{'go_to_contact' | translate}} </a> |
  <a href='/#contact_people'><span class="glyphicon glyphicon-th-list"></span> {{'go_to_contact_people_list' | translate}} </a>
</div>