<div class="page-header">
  <h1>Контактные лица</h1>
</div>

<div class="table-top-menu">
  <div class="search-box col-md-4">
    <form role="form">
      <div class="form-group has-feedback has-feedback-left">
        <input type="text" class="form-control"
          ng-model="tableFilter" placeholder="Фильтр" />
        <i class="form-control-feedback glyphicon
          glyphicon-search pull-left"></i>
      </div>
    </form>
  </div>

  <a class="btn btn-success add-customer" href="#/contact_people/new">
    <span class="glyphicon glyphicon-plus"></span> Добавить контакт
  </a>
</div>

<div>
  <table class="table table-hover table-vcenter">
    <thead>
      <tr>
        <th>Имя</th>
        <th>Должность</th>
        <th>Email</th>
        <th>Телефон</th>
        <th>Заказчик</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="person in contact_people | filter:tableFilter | orderBy: 'name'">
        <td class="col-md-2">
          <a href="#/contact_people/{{person.id}}/show">
            {{person.name}}
          </a>
        </td>
        <td class="col-md-2">{{person.position}}</td>
        <td class="col-md-2">{{person.email}}</td>
        <td class="col-md-1">{{person.phone}}</td>
        <td class="col-md-1">
          <a ng-show="person.customer" href="/#customers/{{person.customer ? person.customer.id : '' }}/show">
            <span class="glyphicon glyphicon-stop" style="color: {{person.customer.colour}}"></span>
            {{person.customer ? person.customer.name : '' }}
          </a>
        </td>
        <td class="col-md-3">
          <a href="#/contact_people/{{person.id}}/edit" class="btn btn-warning">
            Редактировать </a>
          <button class="btn btn-danger"
            ng-click="destroyContact(person)">
            Удалить
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>