<div class="page-header">
  <h1>{{'add_contact' | translate}}</h1>
</div>

<div class="row">
  <div class="col-md-4">
    <form class="customer-form">
      <div class="form-group">
        <label for="first-name">{{'first_name' | translate}}:</label>
        <input type="text" autocomplete="off" class="form-control"
          id="first-name" ng-model="newContactFirstName" placeholder="{{'first_name' | translate}}">
      </div>

      <div class="form-group">
        <label for="middle-name">{{'middle_name' | translate}}:</label>
        <input type="text" autocomplete="off" class="form-control"
          id="middle-name" ng-model="newContactMiddleName" placeholder="{{'middle_name' | translate}}">
      </div>

      <div class="form-group">
        <label for="last-name">{{'last_name' | translate}}:</label>
        <input type="text" autocomplete="off" class="form-control"
          id="last-name" ng-model="newContactLastName" placeholder="{{'last_name' | translate}}">
      </div>

      <div class="form-group">
        <label for="customer-select">{{'customer' | translate}}:</label>
        <select class="form-control" id="customer-select" ng-model="customer"
          ng-options="customer.name for customer in customers | orderBy:'name' track by customer.id" required="true">
          <option value="">--- {{'select_customer' | translate}} ---</option>
        </select>
      </div>

      <div class="form-group">
        <label for="position">{{'position' | translate}}:</label>
        <input type="text" autocomplete="off" class="form-control"
          id="position" ng-model="newContactPosition" placeholder="{{'position' | translate}}">
      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" autocomplete="off" class="form-control"
          id="email" ng-model="newContactEmail" placeholder="Email">
      </div>

      <div class="form-group">
        <label for="phone">{{'phone' | translate}}:</label>
        <input type="text" autocomplete="off" class="form-control"
          id="phone" ng-model="newContactPhone" placeholder="{{'phone' | translate}}">
      </div>

      <div class="form-group">
        <label for="phone2">{{'phone' | translate}} 2:</label>
        <input type="text" autocomplete="off" class="form-control"
          id="phone2" ng-model="newContactPhone2" placeholder="{{'phone' | translate}} 2">
      </div>

      <div class="form-group">
        <label for="im">IM:</label>
        <input type="text" autocomplete="off" class="form-control"
          id="im" ng-model="newContactIm" placeholder="IM">
      </div>

      <div class="form-group">
        <label for="comment">{{'comment' | translate}}:</label>
        <textarea class="form-control" ng-model="newContactComment"
          rows="5" id="comment" placeholder="{{'comment' | translate}}"></textarea>
      </div>

      <input ng-click="addContact()" type="submit"
        class="btn btn-success" value="{{'add' | translate}}">
      <a href='/#contact_people'> {{'go_to_contact_people_list' | translate}} </a>
    </form>
  </div>
</div>