<div class="navbar-collapse pull-right top-menu" ng-controller="NavCtrl">
  <ul class="nav navbar-nav">
    <li ng-show="signedIn()">
      <a ui-sref="customers" ui-sref-active="active" ng-class="{ active: testRegex('customer') }"
        class="list-group-item list-group-item-info">
        <span class="glyphicon glyphicon-th-large"></span> <span translate>customers</span>
      </a>
    </li>
    <li ng-show="signedIn()">
      <a ui-sref="projects" ui-sref-active="active" ng-class="{ active: testRegex('project') }"
        class="list-group-item list-group-item-danger">
        <span class="glyphicon glyphicon-blackboard"></span> <span translate>projects</span>
      </a>
    </li>
    <li ng-show="signedIn()">
      <a ui-sref="tasks" ui-sref-active="active" ng-class="{ active: testRegex('task') }"
        class="list-group-item list-group-item-warning">
        <span class="glyphicon glyphicon-th-list"></span> <span translate>tasks</span>
      </a>
    </li>
    <li ng-show="signedIn()">
      <a ui-sref="contact_people" ui-sref-active="active"
        ng-class="{ active: testRegex('contact_people') || testRegex('contact_person') }"
        class="list-group-item list-group-item-success">
        <span class="glyphicon glyphicon-user"></span> <span translate>contact_people</span>
      </a>
    </li>
  </ul>
</div>