<div class="page-header">
  <h1>Заказчики</h1>
</div>

<div class="table-top-menu">
  <div class="search-box col-md-4">
    <form role="form">
      <div class="form-group has-feedback has-feedback-left">
        <input type="text" class="form-control"
          ng-model="tableFilter" placeholder="Фильтр" />
        <i class="form-control-feedback glyphicon
          glyphicon-search pull-left"></i>
      </div>
    </form>
  </div>

  <a class="btn btn-success add-customer" href="#/customers/new">
    <span class="glyphicon glyphicon-plus"> </span> Добавить заказчика
  </a>
</div>

<div>
  <table class="table table-hover table-vcenter table-header-centered">
    <thead>
      <tr>
        <th></th>
        <th>Название</th>
        <th>Добавлен</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="customer in customers | filter:tableFilter | orderBy: 'name'">
        <td class="col-md-1"><div class="colorPicker-picker" style="background-color: {{customer.colour}}"></div></td>
        <td class="col-md-4">{{customer.name}}</td>
        <td class="col-md-3">{{customer.created_at | date: "dd/MM/yyyy HH:mm"}}</td>
        <td class="col-md-4">
          <a href="#/customers/{{customer.id}}/show" class="btn btn-info">
            Подробнее </a>
          <a href="#/customers/{{customer.id}}/edit" class="btn btn-warning">
            Редактировать </a>
          <button class="btn btn-danger"
            ng-click="destroyCustomer(customer)">
            Удалить
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>