<div class="page-header">
  <h1 translate>add_customer</h1>
</div>

<div class="row">
  <div class="col-md-4">
    <form class="customer-form form-validation" name="newCustomer" novalidate>
      <div class="form-group">
        <label for="name">{{'customer_name' | translate}}:</label>
        <input name="customerName" type="text" ng-class="{'ng-touched': newCustomer.$submitted}"
          autocomplete="off" class="form-control"
          required="" id="name" ng-model="newCustomerName"
          placeholder="{{'customer_name' | translate}}">
        <div ng-show="newCustomer.$submitted || newCustomer.customerName.$touched">
          <div ng-show="newCustomer.customerName.$error.required" class="error-text">
            {{'field_not_filled' | translate}}
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="color-picker">{{'colour' | translate}}:</label>
        <input id="color-picker" ng-model="newCustomerColour" type="text"
          color-picker name="color1" value="#FFFFFF" />
      </div>

      <div class="form-group">
        <label for="description">{{'short_description' | translate}}:</label>
        <textarea class="form-control" ng-model="newCustomerDescription"
          rows="5" id="description" placeholder="{{'short_description' | translate}}"></textarea>
      </div>

      <input ng-click="addCustomer()" type="submit"
        class="btn btn-success" value="{{'add' | translate}}">
      <a href='/#customers'> {{'go_to_customer_list' | translate}} </a>
    </form>
  </div>
</div>