<div class="page-header">
  <h1>Карточка заказчика</h1>
</div>

<div class="actions" ng-model="customer">
  <a href='/#customers'><span class="glyphicon glyphicon-th-list"></span> К списку заказчиков </a> |
  <a href='/#customers/{{customer.id}}/edit'><span class="glyphicon glyphicon-pencil"></span> Редактировать </a> |
  <a class='delete' ng-click="destroyCustomer(customer, 'customers')"><span class="glyphicon glyphicon-remove"></span> Удалить </a>
</div>

<div ng-model="customer">
  <div class="row">
    <div class="col-md-8">
      <table class="table table-stripped table-bordered table-vcenter">
        <thead>
        </thead>
        <tbody>
          <tr>
            <td class="col-md-2 bg-grey">Название компании</td>
            <td class="col-md-8">
              <span class="glyphicon glyphicon-stop" style="color: {{customer.colour}}"></span>
              {{customer.name}}
            </td>
          </tr>
          <tr>
            <td class="col-md-2 bg-grey">Добавлен</td>
            <td class="col-md-8">{{customer.created_at | date: "dd/MM/yyyy HH:mm"}}</td>
          </tr>
          <tr>
            <td class="col-md-2 bg-grey">Краткое описание</td>
            <td class="col-md-8">{{customer.description}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="customer-projects">
  <div>
    <h3>Проекты</h3>
    <a class="btn btn-success add-customer" href="#/customers/{{customer.id}}/projects/new">
      <span class="glyphicon glyphicon-plus"></span>
      Добавить проект
    </a>
  </div>

  <table class="table table-hover table-vcenter">
    <thead>
      <tr>
        <th>Название</th>
        <th>Добавлен</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="project in customer.projects | orderBy: 'title'">
        <td class="col-md-3">{{project.title}}</td>
        <td class="col-md-3">{{project.created_at | date: "dd/MM/yyyy HH:mm"}}</td>
        <td class="col-md-4">
          <a href="#/projects/{{project.id}}/show" class="btn btn-info">
            Подробнее </a>
          <a href="#/projects/{{project.id}}/edit" class="btn btn-warning">
            Редактировать </a>
          <button class="btn btn-danger"
            ng-click="destroyProject(project)">
            Удалить
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>