<div class="page-header">
  <h1>{{'customer_info' | translate}}</h1>
</div>

<div class="actions" ng-model="customer">
  <a href='/#customers'><span class="glyphicon glyphicon-th-list"></span> {{'go_to_customer_list' | translate}} </a> |
  <a href='/#customers/{{customer.id}}/edit'><span class="glyphicon glyphicon-pencil"></span> {{'edit' | translate}} </a> |
  <a class='delete' ng-click="destroyCustomer(customer, 'customers')">
    <span class="glyphicon glyphicon-remove"></span> {{'delete' | translate}}
  </a>
</div>

<div ng-model="customer">
  <div class="row">
    <div class="col-md-8">
      <table class="table table-stripped table-bordered table-vcenter">
        <thead>
        </thead>
        <tbody>
          <tr>
            <td class="col-md-2 bg-grey">{{'name' | translate}}</td>
            <td class="col-md-8">
              <span class="glyphicon glyphicon-stop" style="color: {{customer.colour}}"></span>
              {{customer.name}}
            </td>
          </tr>
          <tr>
            <td class="col-md-2 bg-grey">{{'added' | translate}}</td>
            <td class="col-md-8">{{customer.created_at | date: "dd/MM/yyyy HH:mm"}}</td>
          </tr>
          <tr>
            <td class="col-md-2 bg-grey">{{'short_description' | translate}}</td>
            <td class="col-md-8">{{customer.description}}</td>
          </tr>
          <tr>
            <td class="col-md-2 bg-grey">
              {{'contact_persons' | translate}} <br />
              <a href="#/customers/{{customer.id}}/contact_people/new">{{'add' | translate}}</a>
            </td>
            <td class="col-md-8">
              <span ng-repeat="person in customer.contact_people | orderBy: 'name'">
                <a href="#/contact_people/{{person.id}}/show">
                  {{person.name}}</a>{{$last ? '' : ', '}}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<uib-tabset>
  <uib-tab heading="{{'projects' | translate}}">
    <div class="customer-projects">
      <br/>
      <div>
        <a class="btn btn-success add-customer" href="#/customers/{{customer.id}}/projects/new">
          <span class="glyphicon glyphicon-plus"></span>
          {{'add_project' | translate}}
        </a>
      </div>

      <table class="table table-hover table-vcenter">
        <thead>
          <tr>
            <th translate>project_title</th>
            <th translate>added</th>
            <th translate>actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-click="projectRowClick(project)" ng-repeat="project in customer.projects | orderBy: 'title'">
            <td class="col-md-3">
              <a href="#/projects/{{project.id}}/show">{{project.title}}</a>
            </td>
            <td class="col-md-3">{{project.created_at | date: "dd/MM/yyyy HH:mm"}}</td>
            <td class="col-md-4">
              <a href="#/projects/{{project.id}}/edit" class="btn btn-warning"
                ng-click="$event.stopPropagation()">
                {{'edit' | translate}} </a>
              <button class="btn btn-danger"
                ng-click="destroyProject(project); $event.stopPropagation();">
                {{'delete' | translate}}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </uib-tab>
  <uib-tab heading="{{'tasks' | translate}}">
    <div class="customer-tasks">
      <br />
      <a class="btn btn-success add-customer"  href="#/customers/{{customer.id}}/tasks/new">
        <span class="glyphicon glyphicon-plus"></span> {{'add_task' | translate}}
      </a>
    </div>

    <div>
      <table class="table table-hover table-vcenter">
        <thead>
          <tr>
            <th>{{'name' | translate}}</th>
            <th>{{'start_time' | translate}}</th>
            <th>Deadline</th>
            <th>{{'status' | translate}}</th>
            <th>{{'actions' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-click="taskRowClick(task)" ng-repeat="task in customer.tasks | filter:tableFilter | orderBy: 'title'">
            <td class="col-md-3">
              <a href="#/tasks/{{task.id}}/show">{{task.title}}</a>
            </td>
            <td class="col-md-2">{{task.started_at | date: "dd/MM/yyyy HH:mm"}}</td>
            <td class="col-md-2">{{task.estimated_finish | date: "dd/MM/yyyy HH:mm"}}</td>
            <td class="col-md-1">{{task.status.status_type | translate}}</td>
            <td class="col-md-3">
              <a href="#/tasks/{{task.id}}/edit" class="btn btn-warning"
                ng-click="$event.stopPropagation()">
                {{'edit' | translate}} </a>
              <button class="btn btn-danger"
                ng-click="destroyTask(task); $event.stopPropagation()">
                {{'delete' | translate}}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </uib-tab>
</uib-tabset>