<div class="page-header">
  <h1>Карточка заказчика</h1>
</div>

<div ng-model="customer">
  <div class="row">
    <div class="col-md-4">
      <table class="table table-stripped table-bordered table-vcenter">
        <thead>
        </thead>
        <tbody>
          <tr>
            <td class="col-md-6" style="background-color: #f4eded;">Название компании</td>
            <td class="col-md-6">{{customer.name}}</td>
          </tr>
          <tr>
            <td class="col-md-6" style="background-color: #f4eded;">Добавлен</td>
            <td class="col-md-6">{{customer.created_at | date: "dd/MM/yyyy HH:mm"}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="actions" ng-model="customer">
  <a href='/#customers'> Вернуться к списку заказчиков </a> |
  <a href='/#customers/{{customer.id}}/edit'> Редактировать </a>
</div>