<div class="page-header">
  <h1 translate>login</h1>
</div>
<div class="errors">
  <p class="bg-danger" ng-show="!!errors">
    {{ errors }} <br/>
  </p>
</div>
<div>
  <form class="auth-form" ng-submit="login()">
    <div class="form-group">
      <label for="email">Email {{'address' | translate}}</label>
      <input type="email" name="email" class="form-control" id="email" ng-model="user.email" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="password">{{'password' | translate}}</label>
      <input type="password" class="form-control" id="password" ng-model="user.password" placeholder="{{'password' | translate}}">
    </div>
    <input type="submit" class="btn btn-default" value="{{'login' | translate}}">
  </form>
</div>
