<div class="page-header">
  <h1 translate>register_nav</h1>
</div>
<div class="errors">
  <p class="bg-danger" ng-repeat="(error, messages) in errors">
    {{ error }} <br/>
    <span ng-repeat="message in messages">{{ message }}</span><br/>
  </p>
</div>
<div class="auth-form">
  <form name="registerForm" autocomplete="off" ng-submit="register()">
    <div class="form-group" ng-submit="register()">
      <label for="email">Email {{'address' | translate}}</label>
      <input type="email" class="form-control" name="email" id="email"
        ng-model="user.email" placeholder="Email" autocomplete="off" />
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" name="name" class="form-control" id="username"
        ng-model="user.username" placeholder="Username" autocomplete="off" />
    </div>
    <div class="form-group">
      <label for="password">{{'password' | translate}}</label>
      <input type="password" class="form-control" id="password"
        ng-model="user.password" placeholder="{{'password' | translate}}" autocomplete="off" />
    </div>
    <input type="submit" class="btn btn-default" value="Register">
  </form>
</div>
<div>
  <a href="/users/auth/google_oauth2">
    <img style="width: 200px;" src="btn_google_signin.png" border="0" alt="Sign in with Google">
  </a>
</div>