<div class="page-header">
  <h1>Мой Кабинет</h1>
</div>
<div class="categories">
  <a href="#/customers" type="button" class="btn btn-lg btn-info">
    <span class="glyphicon glyphicon-th-large"></span> Заказчики
  </a>
  <a href="#/projects" type="button" class="btn btn-lg btn-danger">
    <span class="glyphicon glyphicon-th"></span> Проекты
  </a>
  <a href="#/tasks" type="button" class="btn btn-lg btn-warning">
    <span class="glyphicon glyphicon-th-list"></span> Задачи
  </a>
  <a href="#/contact_people" type="button" class="btn btn-lg btn-success">
    <span class="glyphicon glyphicon-user"></span> Контакты
  </a>
</div>
