<div class="page-header">
  <h1>Редактировать задачу</h1>
</div>

<div class="row">
  <div class="col-md-4">
    <form class="task-form">
      <div class="form-group">
        <label for="name">Имя задачи</label>
        <input type="text" required="true" autocomplete="off" class="form-control"
          id="name" ng-model="task.title" placeholder="Имя задачи">
      </div>

      <div class="form-group">
        <label for="project-select">Проект:</label>
        <select class="form-control" id="project-select" ng-model="task.project"
          ng-options="project.title for project in projects | orderBy:'title' track by project.id" required="true">
          <option value="">--- Выберите проект ---</option>
        </select>
      </div>

      <div class="form-group">
        <label for="description">Описание:</label>
        <textarea class="form-control" ng-model="task.description"
          rows="5" id="description" placeholder="Описание"></textarea>
      </div>
      <input ng-click="updateTask()" type="submit" class="btn btn-success" value="Сохранить">
    </form>
  </div>
</div>

<div class="actions" ng-model="task">
  <a href='/#tasks/{{task.id}}/show'><span class="glyphicon glyphicon-file"></span> Перейти к задаче </a> |
  <a href='/#tasks'><span class="glyphicon glyphicon-th-list"></span> К списку задач </a>
</div>