<div class="page-header">
  <h1 translate>edit_task</h1>
</div>

<div class="row">
  <div class="col-md-4">
    <form class="task-form form-validation" name="editTask" novalidate>
      <div class="form-group">
        <label for="title">{{'task_name' | translate}}</label>
        <input name="taskTitle" type="text" ng-class="{'ng-touched': editTask.$submitted}"
          autocomplete="off" class="form-control"
          required="" id="title" ng-model="task.title"
          placeholder="{{'task_name' | translate}}">
        <div ng-show="editTask.$submitted || editTask.taskTitle.$touched">
          <div ng-show="editTask.taskTitle.$error.required" class="error-text">
            {{'field_not_filled' | translate}}
          </div>
        </div>
      </div>

      <div class="form-group has-feedback">
        <label for="start-date">{{'start_date' | translate}}:</label>
        <input type="text" autocomplete="off" class="form-control"
          id="start-date" ng-model="task.started_at" name="startDateTime"
          placeholder="{{'start_date' | translate}}" date-time-picker>
        <i class="form-control-feedback glyphicon
          glyphicon-calendar pull-left"></i>
        <div ng-show="editTask.$submitted || editTask.startDateTime.$touched">
          <div ng-show="editTask.startDateTime.$error.dateTimeRequired" class="error-text">
            {{'field_not_filled' | translate}}
          </div>
        </div>
      </div>

      <div class="form-group has-feedback">
        <label for="start-date">{{'end_date' | translate}}:</label>
        <input type="text" autocomplete="off" class="form-control"
          id="start-date" ng-model="task.estimated_finish" name="estimatedFinishDateTime"
          placeholder="{{'start_date' | translate}}" date-time-picker>
        <i class="form-control-feedback glyphicon
          glyphicon-calendar pull-left"></i>
        <div ng-show="editTask.$submitted || editTask.estimatedFinishDateTime.$touched">
          <div ng-show="editTask.estimatedFinishDateTime.$error.dateTimeRequired" class="error-text">
            {{'field_not_filled' | translate}}
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="status-select">{{'status' | translate}}:</label>
        <select class="form-control" id="status-select" ng-model="task.status"
          ng-options="(status.status_type | translate) for status in statuses | orderBy:'id' track by status.id"
          name="status" required="">
          <option value="">--- {{'select_status' | translate}} ---</option>
        </select>
        <div ng-show="editTask.$submitted || editTask.status.$touched">
          <div ng-show="editTask.status.$error.required" class="error-text">
            {{'item_not_selected' | translate}}
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="customer-select">{{'customer' | translate}}:</label>
        <select class="form-control" id="customer-select" ng-model="customer"
          ng-options="customer.name for customer in customers | orderBy:'name' track by customer.id"
          ng-change="changeCustomer(customer)" name="customer" required="">
          <option value="">--- {{'select_customer' | translate}} ---</option>
        </select>
        <div ng-show="editTask.$submitted || editTask.customer.$touched">
          <div ng-show="editTask.customer.$error.required" class="error-text">
            {{'item_not_selected' | translate}}
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="project-select">{{'project' | translate}}:</label>
        <select class="form-control" id="project-select" ng-model="project"
          ng-options="project.title for project in projects | orderBy:'title' track by project.id"
          ng-change="changeProject(project)">
          <option value="">--- {{'select_project' | translate}} ---</option>
        </select>
      </div>

      <div class="form-group">
        <label for="description">{{'description' | translate}}:</label>
        <textarea class="form-control" ng-model="task.description"
          rows="5" id="description" placeholder="{{'description' | translate}}"></textarea>
      </div>
      <input ng-click="updateTask()" type="submit" class="btn btn-success" value="{{'save' | translate}}">
    </form>
  </div>
</div>

<div class="actions" ng-model="task">
  <a href='/#tasks/{{task.id}}/show'><span class="glyphicon glyphicon-file"></span> {{'go_to_task' | translate}} </a> |
  <a href='/#tasks'><span class="glyphicon glyphicon-th-list"></span> {{'go_to_task_list' | translate}} </a>
</div>