<div class="page-header">
  <h1 translate>tasks</h1>
</div>

<div class="table-top-menu">
  <div class="search-box col-md-4">
    <form role="form">
      <div class="form-group has-feedback has-feedback-left">
        <input type="text" class="form-control"
          ng-model="tableFilter" placeholder="{{'filter' | translate}}" />
        <i class="form-control-feedback glyphicon
          glyphicon-search pull-left"></i>
      </div>
    </form>
  </div>

  <a class="btn btn-success add-customer" href="#/tasks/new">
    <span class="glyphicon glyphicon-plus"></span> {{'add_task' | translate}}
  </a>
</div>

<div>
  <table class="table table-hover table-vcenter">
    <thead>
      <tr>
        <th>{{'name' | translate}}</th>
        <th>{{'start_time' | translate}}</th>
        <th>Deadline</th>
        <th>{{'status' | translate}}</th>
        <th>{{'project' | translate}}</th>
        <th>{{'actions' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="task in tasks | filter:tableFilter | orderBy: 'title'">
        <td class="col-md-2">
          <a href="#/tasks/{{task.id}}/show">
            {{task.title}}
          </a>
        </td>
        <td class="col-md-1">{{task.started_at | date: "dd/MM/yyyy HH:mm"}}</td>
        <td class="col-md-1">{{task.estimated_finish | date: "dd/MM/yyyy HH:mm"}}</td>
        <td class="col-md-1">{{task.status.status_type | translate}}</td>
        <td class="col-md-1">
          <a ng-show="task.project" href="/#projects/{{task.project ? task.project.id : '' }}/show">
            {{task.project ? task.project.title : '' }}
          </a>
        </td>
        <td class="col-md-2">
          <a href="#/tasks/{{task.id}}/edit" class="btn btn-warning">
            {{'edit' | translate}} </a>
          <button class="btn btn-danger"
            ng-click="destroyTask(task)">
            {{'delete' | translate}}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>