<div class="page-header">
  <h1 translate>add_task</h1>
</div>

<div class="row">
  <div class="col-md-4">
    <form class="project-form">
      <div class="form-group">
        <label for="title">{{'task_name' | translate}}:</label>
        <input type="text" autocomplete="off" class="form-control"
          id="title" ng-model="newTaskTitle" placeholder="{{'task_name' | translate}}">
      </div>

      <div class="form-group has-feedback">
        <label for="start-date">{{'start_date' | translate}}:</label>
        <input type="text" autocomplete="off" class="form-control"
          id="start-date" ng-model="startDateTime" placeholder="{{'start_date' | translate}}"
          date-time-picker>
        <i class="form-control-feedback glyphicon
          glyphicon-calendar pull-left"></i>
      </div>

      <div class="form-group has-feedback">
        <label for="start-date">{{'end_date' | translate}}:</label>
        <input type="text" autocomplete="off" class="form-control"
          id="start-date" ng-model="estimatedFinishDateTime" placeholder="{{'end_date' | translate}}"
          date-time-picker>
        <i class="form-control-feedback glyphicon
          glyphicon-calendar pull-left"></i>
      </div>

      <div class="form-group">
        <label for="status-select">{{'status' | translate}}:</label>
        <select class="form-control" id="status-select" ng-model="status"
          ng-options="(status.status_type | translate) for status in statuses | orderBy:'id' track by status.id" required="true">
          <option value="">--- {{'select_status' | translate}} ---</option>
        </select>
      </div>

      <div class="form-group">
        <label for="project-select">{{'project' | translate}}:</label>
        <select class="form-control" id="project-select" ng-model="project"
          ng-options="project.title for project in projects | orderBy:'title' track by project.id" required="true">
          <option value="">--- {{'select_project' | translate}} ---</option>
        </select>
      </div>

      <div class="form-group">
        <label for="description">{{'description' | translate}}:</label>
        <textarea class="form-control" ng-model="newTaskDescription"
          rows="5" id="description" placeholder="{{'description' | translate}}"></textarea>
      </div>

      <input ng-click="addTask()" type="submit"
        class="btn btn-success" value="{{'add' | translate}}">
      <a href='/#tasks'> {{'go_to_task_list' | translate}} </a>
    </form>
  </div>
</div>