<div class="page-header">
  <h1>Добавить задачу для проекта {{project.title}}</h1>
</div>

<div class="row">
  <div class="col-md-4">
    <form class="project-form">
      <div class="form-group">
        <label for="title">Имя задачи:</label>
        <input type="text" autocomplete="off" class="form-control"
          id="name" ng-model="newTaskTitle" placeholder="Имя задачи">
      </div>

      <div class="form-group">
        <label for="project-select">Проект:</label>
        <select disabled="true" class="form-control" id="project-select" ng-model="project"
          ng-options="project.title for project in projects | orderBy:'title' track by project.id" required="true">
          <option value="">--- Выберите проект ---</option>
        </select>
      </div>

      <div class="form-group">
        <label for="description">Описание:</label>
        <textarea class="form-control" ng-model="newTaskDescription"
          rows="5" id="description" placeholder="Описание"></textarea>
      </div>

      <input ng-click="addTask()" type="submit"
        class="btn btn-success" value="Добавить">
      <a href='/#/projects/{{project.id}}/show'> К списку задач проекта</a>
    </form>
  </div>
</div>