<div class="page-header">
  <h1 translate>task</h1>
</div>

<div class="actions" ng-model="task">
  <a href='/#tasks'><span class="glyphicon glyphicon-th-list"></span> {{'go_to_task_list' | translate}} </a> |
  <a href='/#tasks/{{task.id}}/edit'><span class="glyphicon glyphicon-pencil"></span> {{'edit' | translate}} </a> |
  <a class='delete' ng-click="destroyTask(task, 'tasks')"><span class="glyphicon glyphicon-remove"></span> {{'delete' | translate}} </a>
</div>

<div>
  <div class="row">
    <div class="col-md-8">
      <table class="table table-stripped table-bordered table-vcenter">
        <thead>
        </thead>
        <tbody>
          <tr>
            <td class="col-md-2 bg-grey">{{'task_name' | translate}}</td>
            <td class="col-md-8" colspan="3">{{task.title}}</td>
          </tr>
          <tr>
            <td class="col-md-2 bg-grey">{{'status' | translate}}</td>
            <td class="col-md-8" colspan="3">{{task.status.status_type | translate}}</td>
          </tr>
          <tr>
            <td class="col-md-2 bg-grey">{{'project' | translate}}</td>
            <td class="col-md-8" colspan="3">
              <a ng-show="task.project" href="/#projects/{{task.project ? task.project.id : '' }}/show">
                {{task.project ? task.project.title : '' }}
              </a>
            </td>
          </tr>
          <tr>
            <td class="col-md-2 bg-grey">{{'customer' | translate}}</td>
            <td class="col-md-8" colspan="3">
              <a ng-show="task.customer" href="/#customers/{{task.customer ? task.customer.id : '' }}/show">
                <span class="glyphicon glyphicon-stop" style="color: {{task.customer.colour}}"></span>
                {{task.customer ? task.customer.name : '' }}
              </a>
            </td>
          </tr>
          <tr>
            <td class="col-md-2 bg-grey">{{'added' | translate}}</td>
            <td class="col-md-8" colspan="3">{{task.created_at | date: "dd/MM/yyyy HH:mm"}}</td>
          </tr>
          <tr>
            <td class="col-md-3 bg-grey"><span class="glyphicon glyphicon-time"></span> {{'start_time' | translate}}</td>
            <td class="col-md-3 task-date-start">{{task.started_at | date: "dd/MM/yyyy HH:mm"}}</td>
            <td class="col-md-3 bg-grey"><span class="glyphicon glyphicon-time"></span> {{'end_time' | translate}}</td>
            <td class="col-md-3 task-date-finish">{{task.estimated_finish | date: "dd/MM/yyyy HH:mm"}}</td>
          </tr>
          <tr>
            <td class="col-md-2 bg-grey">{{'description' | translate}}</td>
            <td class="col-md-8" colspan="3">{{task.description}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <div style="width: 100%; height: 42px;">
        <div style="float: left; height: 100%;">
          <h4><span class="glyphicon glyphicon-usd usd-sign"></span> {{'payments' | translate}}</h4>
        </div>
        <div style="float: right; height: 100%; padding-top: 12px; padding-bottom: 12px;">
          <a href="#/tasks/{{task.id}}/checks/new" style="margin-top: 10px; margin-bottom: 10px;">{{'add_payment' | translate}}</a>
        </div>
      </div>
      <div class="checks-list">
        <table class="table">
          <tbody>
            <tr ng-repeat="check in task.checks | orderBy: '-created_at'"
              ng-class="{success: check.check_status.name == 'paid',
                warning: check.check_status.name == 'unpaid'}">
              <td><span class="checks-hash">#</span></td>
              <td>
                <span class="check-date">
                  {{check.created_at | date: "dd/MM/yyyy"}}
                </span>
              </td>
              <td><span>{{(check.check_status.name + '_check') | translate}}</span></td>
              <td><span>{{check.price}}</span></td>
              <td>
                <span class="label label-info">
                  {{check.currency.abbreviation}}
                </span>
              </td>
            </tr>
         </tbody>
        </table>
      </div>
      <div>
        <table class="table">
          <tbody>
            <tr>
              <td><span class="check-total">{{'total' | translate}}:</span></td>
              <td ng-repeat="(key, value) in task.checks_totals">
                <span class="check-paid">{{value.paid || "--"}}</span>/<span class="check-unpaid">{{value.unpaid || "--"}}</span>
                <span class="label label-info">{{key}}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div>
  <h3 translate>comments</h3>
  <div class="comments-list">
    <div class="comment" ng-repeat="comment in task.comments | orderBy: '-created_at'">
      <div class="text-right actions">
        <span class="comment-date">
          {{'added' | translate}} {{comment.created_at | date: "dd/MM/yyyy HH:mm"}}
          <a ng-click="editorEnabled=!editorEnabled; currentEdit=comment.message;"><span class="glyphicon glyphicon-pencil"></span></a>
          <a class="delete" ng-click="destroyComment(comment)"><span class="glyphicon glyphicon-remove"></span></a>
        </span>
      </div>
      <p ng-hide="editorEnabled">{{comment.message}}</p>
      <div ng-show="editorEnabled">
        <textarea class="comment-edit" type="textarea" rows="7" ng-model="currentEdit"></textarea>
        <br/>
        <div class="text-right actions">
          <a ng-click="comment.message = currentEdit; updateComment(comment); editorEnabled=!editorEnabled">
            <span class="glyphicon glyphicon-ok"></span>
          </a>
          <a ng-click="editorEnabled=!editorEnabled" class="delete">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </div>
      </div>
    </div>
    </br>
  </div>
  <div class="new-comment">
    <div class="inner">
      <h4 translate>add_comment</h4>
      <textarea type="textarea" rows="5" ng-model="newComment"></textarea>
      <div class="text-right">
        <button class="btn btn-success" ng-click="addComment()"
          ng-disabled="!newComment || newComment == ''">{{'add' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>