/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require colorPicker.css
 *= require angular-bootstrap-calendar.min
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';

.navbar-nav > li > a {
  cursor: pointer;
}

th a {
  cursor: pointer;
  color: #449D44;
}

th a:hover {
  cursor: pointer;
  color: #EC971F;
}

.badge-important {
  background-color: #b94a48;
}

.top-menu {
  margin: 5px 10px;
  li {
    margin: 0px 4px;
  }
}

// --------------- GROWL

growl-notifications {
  position: fixed;
  top: 150px;
  right: 10px;
  z-index: 1000;
}

growl-notifications growl-notification {
  background: #449D44;
  color: white;
  padding: 15px 20px;
  width: 300px;
  display: block;
  border-radius: 5px;
  margin-top: 15px;
}

growl-notification.fading.ng-move{
  opacity: 0;
  -webkit-transition: 1s linear all; /* Safari/Chrome */
  transition: 1s linear all; /* All other modern browsers and IE10+ */
}

growl-notification.fading.ng-move.ng-move-active {
  opacity: 1;
}
growl-notification.fading.ng-leave {
  opacity: 1;
  -webkit-transition: 1s linear all; /* Safari/Chrome */
  transition: 1s linear all; /* All other modern browsers and IE10+ */
}

growl-notification.fading.ng-leave.ng-leave-active {
  opacity: 0;
}

// ----------------- GROWL

.navbar-brand {
  padding: 5px 15px;
}

body {
  height: 100%;
}

div.table-top-menu {
  height: 40px;
  margin-bottom: 20px;
}

a.add-customer {
  float: right;
}

div.actions {
  margin-top: 10px;
  margin-bottom: 10px;
  a:hover {
    text-decoration: none;
  }
}

a.delete {
  cursor: pointer;
}

a.delete:hover {
  color: red;
}

.welcome-message {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.bg-grey {
  background-color: #f4eded;
}

td.task-date-start {
  text-align: center;
  color: #33CC66;
}

td.task-date-finish {
  text-align: center;
  color: #FF3300;
}

.table-vcenter td {
  vertical-align: middle!important;
}

.table-vcenter {
  margin-top: 5px;
}

.table-header-centered {
  th {
    text-align: center;
  }
}

.container {
  height: 100%;
}

.auth-form {
  width: 25%;
}

div.errors {
  p {
    padding: 15px;
  }
}
