<div class="collapse navbar-collapse pull-right" ng-controller="NavCtrl">
  <ul class="nav navbar-nav">
    <li ng-hide="!signedIn()"><a href="#/home"><span class="glyphicon glyphicon-home"></span> {{'home' | translate}} </a></li>
    <li ng-hide="signedIn()"><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> {{'login' | translate}}</a></li>
    <li ng-hide="signedIn()"><a href="#/register"> {{'register_nav' | translate}}</a></li>
    <li ng-show="signedIn()"><a href="#/home"><span class="glyphicon glyphicon-user"></span> {{user.username}}</a></li>
    <li ng-show="signedIn()"><a ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> {{'logout' | translate}}</a></li>
  </ul>
</div>