<div class="page-header">
  <h1>{{'edit_project' | translate}}</h1>
</div>

<div class="row">
  <div class="col-md-4">
    <form class="project-form form-validation" name="editProject" novalidate>
      <div class="form-group">
        <label for="title">{{'project_name' | translate}}:</label>
        <input name="projectTitle" type="text" ng-class="{'ng-touched': editProject.$submitted}"
          autocomplete="off" class="form-control"
          required="" id="title" ng-model="project.title"
          placeholder="{{'project_name' | translate}}">
        <div ng-show="editProject.$submitted || editProject.projectTitle.$touched">
          <div ng-show="editProject.projectTitle.$error.required" class="error-text">
            {{'field_not_filled' | translate}}
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="customer-select">{{'customer' | translate}}:</label>
        <select class="form-control" id="customer-select" ng-model="project.customer"
          ng-options="customer.name for customer in customers | orderBy:'name' track by customer.id"
          name="customer" required="">
          <option value="">--- {{'select_customer' | translate}} ---</option>
        </select>
        <div ng-show="editProject.$submitted || editProject.customer.$touched">
          <div ng-show="editProject.customer.$error.required" class="error-text">
            {{'item_not_selected' | translate}}
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="description">{{'description' | translate}}:</label>
        <textarea class="form-control" ng-model="project.description"
          rows="5" id="description" placeholder="{{'description' | translate}}"></textarea>
      </div>
      <input ng-click="updateProject()" type="submit" class="btn btn-success" value="{{'save' | translate}}">
    </form>
  </div>
</div>

<div class="actions" ng-model="project">
  <a href='/#projects/{{project.id}}/show'><span class="glyphicon glyphicon-file"></span> {{'go_to_project' | translate}} </a> |
  <a href='/#projects'><span class="glyphicon glyphicon-th-list"></span> {{'go_to_project_list' | translate}} </a>
</div>