<div class="page-header">
  <h1>{{'projects' | translate}}</h1>
</div>

<div class="table-top-menu">
  <div class="search-box col-md-4">
    <form role="form">
      <div class="form-group has-feedback has-feedback-left">
        <input type="text" class="form-control"
          ng-model="tableFilter" placeholder="{{'filter' | translate}}" />
        <i class="form-control-feedback glyphicon
          glyphicon-search pull-left"></i>
      </div>
    </form>
  </div>

  <a class="btn btn-success add-customer" href="#/projects/new">
    <span class="glyphicon glyphicon-plus"></span> {{'add_project' | translate}}
  </a>
</div>

<div>
  <table class="table table-hover table-vcenter">
    <thead>
      <tr>
        <th>
          <a ng-click="sortType = 'title'; sortReverse = !sortReverse">
            {{'project_name' | translate}}
            <span ng-show="sortType == 'title' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            <span ng-show="sortType == 'title' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
          </a>
        </th>
        <th>
          <a ng-click="sortType = 'created_at'; sortReverse = !sortReverse">
            {{'added' | translate}}
            <span ng-show="sortType == 'created_at' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            <span ng-show="sortType == 'created_at' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
          </a>
        </th>
        <th>
          <a ng-click="sortType = 'customer.name'; sortReverse = !sortReverse">
            {{'customer' | translate}}
            <span ng-show="sortType == 'customer.name' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            <span ng-show="sortType == 'customer.name' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
          </a>
        </th>
        <th>{{'actions' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-click="rowClick(project)" ng-repeat="project in projects | filter:tableFilter | orderBy:sortType:sortReverse">
        <td class="col-md-2">
          <a href="#/projects/{{project.id}}/show">{{project.title}}
        </td>
        <td class="col-md-2">{{project.created_at | date: "dd/MM/yyyy HH:mm"}}</td>
        <td class="col-md-2">
          <a ng-show="project.customer" href="/#customers/{{project.customer ? project.customer.id : '' }}/show">
            <span class="glyphicon glyphicon-stop" style="color: {{project.customer.colour}}"></span>
            {{project.customer ? project.customer.name : '' }}
          </a>
        </td>
        <td class="col-md-4">
          <a href="#/projects/{{project.id}}/edit" class="btn btn-warning"
            ng-click="$event.stopPropagation()">
            {{'edit' | translate}} </a>
          <button class="btn btn-danger"
            ng-click="destroyProject(project); $event.stopPropagation();">
            {{'delete' | translate}}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>