<div class="page-header">
  <h1 translate>add_project</h1>
</div>

<div class="row">
  <div class="col-md-4">
    <form class="customer-form">
      <div class="form-group">
        <label for="title">{{'project_name' | translate}}:</label>
        <input type="text" autocomplete="off" class="form-control"
          id="title" ng-model="newProjectTitle" placeholder="{{'project_name' | translate}}">
      </div>

      <div class="form-group">
        <label for="customer-select">{{'customer' | translate}}:</label>
        <select class="form-control" id="customer-select" ng-model="customerId"
          ng-options="customer.name for customer in customers | orderBy:'name' track by customer.id" required="true">
          <option value="">--- {{'select_customer' | translate}} ---</option>
        </select>
      </div>

      <div class="form-group">
        <label for="description">{{'description' | translate}}:</label>
        <textarea class="form-control" ng-model="newProjectDescription"
          rows="5" id="description" placeholder="{{'description' | translate}}"></textarea>
      </div>

      <input ng-click="addProject()" type="submit"
        class="btn btn-success" value="Добавить">
      <a href='/#projects'> {{'go_to_project_list' | translate}} </a>
    </form>
  </div>
</div>