<div class="page-header">
  <h1 translate>project</h1>
</div>

<div class="actions" ng-model="project">
  <a href='/#projects'><span class="glyphicon glyphicon-th-list"></span> {{'go_to_project_list' | translate}} </a> |
  <a href='/#projects/{{project.id}}/edit'><span class="glyphicon glyphicon-pencil"></span> {{'edit' | translate}} </a> |
  <a class='delete' ng-click="destroyProject(project, 'projects')"><span class="glyphicon glyphicon-remove"></span> {{'delete' | translate}} </a>
</div>

<div ng-model="project">
  <div class="row">
    <div class="col-md-8">
      <table class="table table-stripped table-bordered table-vcenter">
        <thead>
        </thead>
        <tbody>
          <tr>
            <td class="col-md-2 bg-grey">{{'project_name' | translate}}</td>
            <td class="col-md-8">{{project.title}}</td>
          </tr>
          <tr>
            <td class="col-md-2 bg-grey">{{'customer' | translate}}</td>
            <td class="col-md-8">
              <a ng-show="project.customer" href="/#customers/{{project.customer ? project.customer.id : '' }}/show">
                <span class="glyphicon glyphicon-stop" style="color: {{project.customer.colour}}"></span>
                  {{project.customer ? project.customer.name : '' }}
              </a>
            </td>
          </tr>
          <tr>
            <td class="col-md-2 bg-grey">{{'added' | translate}}</td>
            <td class="col-md-8">{{project.created_at | date: "dd/MM/yyyy HH:mm"}}</td>
          </tr>
          <tr>
            <td class="col-md-2 bg-grey">{{'description' | translate}}</td>
            <td class="col-md-8">{{project.description}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="page-header">
  <h3 translate>tasks</h3>
</div>

<div>
  <a class="btn btn-success add-customer"  href="#/projects/{{project.id}}/tasks/new">
    <span class="glyphicon glyphicon-plus"></span> {{'add_task' | translate}}
  </a>
</div>

<div>
  <table class="table table-hover table-vcenter">
    <thead>
      <tr>
        <th>
          <a ng-click="taskSortType = 'title'; taskSortReverse = !taskSortReverse">
            {{'name' | translate}}
            <span ng-show="taskSortType == 'title' && !taskSortReverse" class="glyphicon glyphicon-chevron-down"></span>
            <span ng-show="taskSortType == 'title' && taskSortReverse" class="glyphicon glyphicon-chevron-up"></span>
          </a>
        </th>
        <th>
          <a ng-click="taskSortType = 'started_at'; taskSortReverse = !taskSortReverse">
            {{'start_time' | translate}}
            <span ng-show="taskSortType == 'started_at' && !taskSortReverse" class="glyphicon glyphicon-chevron-down"></span>
            <span ng-show="taskSortType == 'started_at' && taskSortReverse" class="glyphicon glyphicon-chevron-up"></span>
          </a>
        </th>
        <th>
          <a ng-click="taskSortType = 'estimated_finish'; taskSortReverse = !taskSortReverse">
            Deadline
            <span ng-show="taskSortType == 'estimated_finish' && !taskSortReverse" class="glyphicon glyphicon-chevron-down"></span>
            <span ng-show="taskSortType == 'estimated_finish' && taskSortReverse" class="glyphicon glyphicon-chevron-up"></span>
          </a>
        </th>
        <th>
          <a ng-click="taskSortType = 'status.status_type'; taskSortReverse = !taskSortReverse">
            {{'status' | translate}}
            <span ng-show="taskSortType == 'status.status_type' && !taskSortReverse" class="glyphicon glyphicon-chevron-down"></span>
            <span ng-show="taskSortType == 'status.status_type' && taskSortReverse" class="glyphicon glyphicon-chevron-up"></span>
          </a>
        </th>
        <th>{{'actions' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-click="rowClick('show_task', {task_id: task.id})" class="row-clickable"
        ng-repeat="task in project.tasks | filter:tableFilter | orderBy:taskSortType:taskSortReverse">
        <td class="col-md-3">
          <a href="#/tasks/{{task.id}}/show">{{task.title}}</a>
        </td>
        <td class="col-md-2">{{task.started_at | date: "dd/MM/yyyy HH:mm"}}</td>
        <td class="col-md-2">{{task.estimated_finish | date: "dd/MM/yyyy HH:mm"}}</td>
        <td class="col-md-1">{{task.status.status_type | translate}}</td>
        <td class="col-md-3">
          <a href="#/tasks/{{task.id}}/edit" class="btn btn-warning"
            ng-click="$event.stopPropagation()">
            {{'edit' | translate}} </a>
          <button class="btn btn-danger"
            ng-click="destroyTask(task); $event.stopPropagation()">
            {{'delete' | translate}}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>