<div class="page-header">
  <h1>Проект</h1>
</div>

<div class="actions" ng-model="project">
  <a href='/#projects'><span class="glyphicon glyphicon-th-list"></span> К списку проектов </a> |
  <a href='/#projects/{{project.id}}/edit'><span class="glyphicon glyphicon-pencil"></span> Редактировать </a> |
  <a class='delete' ng-click="destroyProject(project, 'projects')"><span class="glyphicon glyphicon-remove"></span> Удалить </a>
</div>

<div ng-model="project">
  <div class="row">
    <div class="col-md-8">
      <table class="table table-stripped table-bordered table-vcenter">
        <thead>
        </thead>
        <tbody>
          <tr>
            <td class="col-md-2 bg-grey">Название проекта</td>
            <td class="col-md-8">{{project.title}}</td>
          </tr>
          <tr>
            <td class="col-md-2 bg-grey">Заказчик</td>
            <td class="col-md-8">
              <a ng-show="project.customer" href="/#customers/{{project.customer ? project.customer.id : '' }}/show">
                <span class="glyphicon glyphicon-stop" style="color: {{project.customer.colour}}"></span>
                  {{project.customer ? project.customer.name : '' }}
              </a>
            </td>
          </tr>
          <tr>
            <td class="col-md-2 bg-grey">Добавлен</td>
            <td class="col-md-8">{{project.created_at | date: "dd/MM/yyyy HH:mm"}}</td>
          </tr>
          <tr>
            <td class="col-md-2 bg-grey">Краткое описание</td>
            <td class="col-md-8">{{project.description}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div>
  <a class="btn btn-success add-customer"  href="#/projects/{{project.id}}/tasks/new">
    <span class="glyphicon glyphicon-plus"></span> Добавить задачу
  </a>
</div>

<div>
  <table class="table table-hover table-vcenter">
    <thead>
      <tr>
        <th>Название</th>
        <th>Добавлена</th>
        <th>Статус</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="task in project.tasks | filter:tableFilter | orderBy: 'title'">
        <td class="col-md-2">{{task.title}}</td>
        <td class="col-md-2">{{task.created_at | date: "dd/MM/yyyy HH:mm"}}</td>
        <td class="col-md-2">{{task.status.name}}</td>
        <td class="col-md-4">
          <a href="#/tasks/{{task.id}}/show" class="btn btn-info">
            Подробнее </a>
          <a href="#/tasks/{{task.id}}/edit" class="btn btn-warning">
            Редактировать </a>
          <button class="btn btn-danger"
            ng-click="destroyTask(task)">
            Удалить
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>